*.py[cod]
*.egg-info/

.coverage
.python-version
package-lock.json
# Some common file names when testing locally
test.py
example.py

/python/pymoors/*.so
.cache/
.hypothesis/
build/
dist/
docs/_build/
htmlcov/
node_modules/

/.benchmarks/
/.idea/
/.pytest_cache/
/.vscode/
/.venv/
/flame/
/pytest-speed/
/sandbox/
/sandbox/
/site/
**/target/
/worktree/
.DS_Store
.codspeed
